@model IEnumerable<Demoapp.Model.Customer>

@{
    ViewBag.Title = "DanhSachUser";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>DanhSachUser</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddrCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgCus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddrCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgCus)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaThongTin", new { id = item.IDCus }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Chi Tiết", "ChiTietUser", new { id = item.IDCus }, new { @class = "btn btn-dark" }) |
            @Html.ActionLink("Xoá", "XoaUser", new { id = item.IDCus }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
